.ContactDetail .main-info {
  padding: 10px;
}

.ContactDetail .card {
  padding: 20px;
}

.ContactDetail .separator {
  border-top: 1px solid grey;
  height: 1px;
  width: 90%;
  background-color: #cecdcd;
  margin: 10px auto;
}

.ContactDetail .contact-image {
  background-image: url("./user_large.png");
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
}

.ContactDetail .secondary-info {
  padding: 20px;
}

.ContactDetail .main-info {
  text-align: center;
}

.ContactDetail .secondary-info .subtitle {
  color: darkgrey;
}

.ContactDetail .secondary-info .title {
  color: grey;
}

.ContactDetail .header {
  background-color: lightgrey;
  color: darkcyan;
  font-weight: bold;
  cursor: pointer;
}

.ContactDetail .header{
  padding: 10px;
  height: 50px;
}

.ContactDetail .star-status {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.ContactDetail .star-status:active,  {
  width: 30px;
  height: 30px;
}
