.ContactCard {
  cursor: pointer;
  text-align: justify;
  width: 100%;
}

.ContactCard:hover {
  background-color: lightgrey;
}

.ContactCard {
  padding: 5px;
}

.ContactCard .separator {
  border-top: 1px solid grey;
  height: 1px;
  width: 100%;
  background-color: red;
  margin: 0 auto;
}

.ContactCard img.contact-card {
  background-image: url("./user_small.png");
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
}

.ContactCard .small-star{
  padding : 10px;
}

.ContactCard .name{
}
